@import "../../variables.css";

.containerEleccion{
    padding-top: 20px;
}

.containerTituloEleccion{
    padding-bottom: 20px;
}

/* .containerBotones{
} */

.btnEleccion{
    font-family: 'Roboto', sans-serif;
    height: 70px;
    width: 600px;
    font-size: 28px;
}

.tituloEleccion {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: black;
}

.containerBotones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    


    margin: 0 5%;
}

.btnEleccion{
    height: auto;
    width: auto;
    margin: 0 0;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    font-size: 45px;
    transition: border 2s, background-color 2s;
    font-family: 'Roboto', sans-serif;
    color: black;
    grid-column: 1/4;
}

.btnEleccionInstrumentos{
    height: auto;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    font-size: 45px;
    transition: border 2s, background-color 2s;
    font-family: 'Roboto', sans-serif;
    color: black;
}
.containerBotonIntrumento{
    height: auto;
    width: auto;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    font-size: 45px;
    transition: border 2s, background-color 2s;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.imagenBotonEleccion{
    height: 40px;
    width: 40px;
    margin: 0 0;
    padding: 0 0;
}

.textoBotonEleccion{
    margin: 0 0;
    padding: 0 0;
    
    font-family: 'Roboto', sans-serif;
    color: black;
}

