@import "../../variables.css";

.tituloCarga{
    color:black;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}
.containerTituloCarga{
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
	border-radius: 10px;
    background-color: white;
    padding: 20px;
}

.PantallaDeCarga{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.cat{
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
}