@import "../../../variables.css";

.ConteinerFormulario{
    width: 400px;
    height: 200px;
    color: black;
}

.inputArchivo::placeholder{
    color: gray;
    font-family: 'Roboto', sans-serif;
}

input[type="file"]{
    display: none;
}

.custom-file-upload {
    height: 80px;
    width: 800px;
	margin-top: 20px;
	margin-bottom: 20px;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
	border-radius: 10px;
    font-size: 45px;
    transition: border 2s, background-color 2s;
	font-family: 'Roboto', sans-serif;
	color: black;
    cursor: pointer;
    overflow: hidden;
}
.custom-file-upload:hover{
    background-color: var(--color-hover);
    border: 2px solid var(--color-hover);
}

.conteinerInputs h5{
    font-family: 'Roboto', sans-serif;
}
.input.inputArchivo{
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.conteinerInputs{
    color: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conteinerInputs form{
    height: 50px;
    width: 2000px;
}

.conteinerInputs form label{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    padding-right: 10px;
    padding-left: 10px;
}

.conteinerInputs form input{
    font-family: 'Roboto', sans-serif;
    height: 46px;
    width: 320px;
    font-size: 30px;
}