@import "../../variables.css";
.NavbarItems {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    background-image: var(--grad-1);
    font-family: 'Roboto', sans-serif;
    color: white;
}

.nav-links-clicado{
    color: #2c2c54;
    padding: 15px;
    padding-top: 0;
    margin: 0;
    width: auto;
    height: inherit;

    text-decoration: none;
    display: block;
    color: #f7f1e3;
    border-top: 4px solid #ffffff;
    border-radius: 0;
    transition: all 0.2s ease-out;
    font-family: 'Roboto', sans-serif;
}
.navbar-logo {
    color: white;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    overflow: hidden;
    display: flex;
    justify-content: right;
    list-style: none;
    width: 100%;
    padding:0%;
    height: 100%;
    float: right;
    
}

.nav-links {
    display: block;
    color: #f7f1e3;
    text-decoration: none;
    text-align: center;
    line-height: 50px;

    padding: 0;
    margin: 0;
    height: inherit;
    font-family: 'Roboto', sans-serif;
}

.navLi {
    color: var(--color-hover);
    padding: 15px;
    padding-top: 0;
    margin: 0;
    width: auto;
    height: inherit;
}

.navLi:hover {
    display: block;
    color: #f7f1e3;
    border-top: 4px solid var(--color-hover);
    border-radius: 0;
    transition: all 0.2s ease-out;
}

.menu-icon {
    display: none;
    
}

.nav-menuSPA{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

}

.SPA {
    
    list-style: none;
    color: #f7f1e3;
    line-height: 50px;
    text-decoration: none;
    
    float: right;
    padding-left: 25px;
    padding-bottom: 0;
    height: inherit;
    width: 50px;

    font-size: 28px;
    font-weight: bold;
    padding-right: 60px;
    font-family: 'Roboto', sans-serif;
}

.SPA:hover{
    display: block;
    color: #f7f1e3;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.gg-home-alt {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 14px;
    border: 2px solid;
    border-top: 0;
    border-radius: 2px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.gg-home-alt::after,
.gg-home-alt::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute
}

.gg-home-alt::before {
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 4px;
    transform: rotate(45deg);
    top: -5px;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    left: 0
}

.gg-home-alt::after {
    width: 6px;
    height: 10px;
    background: currentColor;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    left: 4px;
    bottom: -2px
}