@import "../../variables.css";
.auxTLC{
	scale: .85;
	translate: 0 -70px;
}

.infoMenu{
	overflow: hidden;
	background-color: var(--color-5);
	border-bottom: 5px solid rgb(255, 255, 255);
	color: white;
	height: 20%;
}

.fotoMenu{
	float: left;
	width: 450px;
	rotate: 20deg;
	translate: -170px -70px;
	scale: 1.8;
}

.containerMenu{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: var(--bs-content-width,768px);
}

.text{
	text-align: center;
}
.ident{
	text-align: left;
	text-indent: 4em; 
}

.ident2{
	text-align: left;
	text-indent: 8em; 
}

.verticaltext {
    position: relative;
    margin: 1em 0;
    min-height: 120px;
    left: -30px;
    margin-right: -100px;
}

.verticaltext2{
    position: relative;
    margin: 1em 0;
    min-height: 120px;
    left: -30px;
    margin-left: -30px;
}

@media screen and (max-width: 770px) {
    .verticaltext {
        left: auto;
    }
}

.verticaltext_content {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    color: #FFF;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 770px) {
    .verticaltext_content {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
        font-size: 16px;
        text-align: center;
    }
}
