@import "./variables.css";


.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal; 
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--color-6);
  background-image: var(--grad-2);
}

.colorBg{
  overflow-x: hidden;
}

.logoFooter {
  height: 10vh;
}

.Redes {
	float: right;
	padding-right: 15px;
  margin-right: 5vw;
}

.fb {
	width: 32px;
}
.twt {
	width: 32px;
}
.ig {
	width: 32px;
}
.yt{
  width: 32px;
  color: white;
}

/* 
::-webkit-scrollbar {
	width: 10px;
}
  

::-webkit-scrollbar-track {
	background: #f1f1f1;
}
  

::-webkit-scrollbar-thumb {
	background: #888;
}
  

::-webkit-scrollbar-thumb:hover {
	background: #555;
}  */