@import "./variables.css";


.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal; 
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  /* background: var(--color-6);
  background-image: var(--grad-2); */
}

.colorBg{
  overflow-x: hidden;
}

.logoFooter {
  height: 100px;
}

.Redes {
	float: right;
	padding-right: 15px;
  margin-right: 5vw;
}

.fb {
	width: 32px;
}
.twt {
	width: 32px;
}
.ig {
	width: 32px;
}
.yt{
  width: 32px;
  color: white;
}

/* .Footer{
  bottom: 0;
} */

/* .RenderContainer{
  height: 789px;
} */

/* 
::-webkit-scrollbar {
	width: 10px;
}
  

::-webkit-scrollbar-track {
	background: #f1f1f1;
}
  

::-webkit-scrollbar-thumb {
	background: #888;
}
  

::-webkit-scrollbar-thumb:hover {
	background: #555;
}  */

.btn-estilo{
  background-color: #212125 !important;
  color: #ffffff !important;
  outline-color: #950740 !important;
  border-color: #950740 !important;
}