:root {
    --color-1: #765F76; /*#424558;*/
    --color-2: #765F76;
    --color-3: #847EA0;
    --color-4: #73787B;
    --color-5: #F2F2F4;
    --color-6: rgba(217,217,217,1);
    --color-7: rgba(25,25,25,1);
    --shadow: #deebf9;
    --background: #e9f2fb;
}