:root {
    --color-1: #765F76; /*#424558;*/
    --color-2: #765F76;
    --color-3: #847EA0;
    --color-4: #73787B;
    --color-5: #F2F2F4;
    --color-6: #94D2BD;
    --color-7: #0A9396;
    --shadow: #deebf9;
    --background: #e9f2fb;
    --color-hover: #cfdbd5;
    --grad-1: linear-gradient(to right, #9e5e86, #af7a39 );
    --grad-2: linear-gradient(to right,#df86bd,#df9c49);
    --primary: #FD5D14;
    --secondary: #FDBE33;
    --light: #F4F6F8;
    --dark: #040F28;
}
